.button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
}

select::-ms-expand {
    display: none;
}


.sel-list{
	width: inherit;
}